<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="button_holder">
      <h1> My Tasks</h1>
      <%=link_to 'New Task', new_task_path, class: 'btn btn-primary' %>
    </div>
  </div>
    <div class="col-md-6">
      <h5>In progress:</h5>
        <% @tasks.each do |task| %>
          <%= render partial: 'task', object: task %>
      <% end %>
    </div>

    <div class="col-md-6">
      <H5>Done:</H5>
        <% @completed_tasks.each do |task| %>
          <%= render partial: 'task', object: task %>
        <% end %>
    </div>
  </div>
</div>
